<div class="card">
  <div class="card-top">
    <img
      class="product-picture"
      [id]="productId"
      [src]="productImage"
      alt="product image">
  </div>
  <div class="card-content">
    <div class="card-info">
      <span class="card-title">{{ productName }}</span>
      <span class="card-price">{{ productPrice }}</span>
    </div>
    <div class="buttonDiv">
      <i class="bi bi-cart2" style="font-size: 2rem;"></i>
      <button class="button">{{ buttonName }}</button>
    </div>
  </div>
</div>
